.usa-range:hover{
    opacity: 1;
}
.usa-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #002552;
    cursor: pointer;
}
  
.usa-range::-moz-range-thumb{
    background: #002552;
    cursor: pointer;
}
.usa-range{
    accent-color: #002552;
}