.usa-step-indicator__segments{
    font-family: Montserrat;
    font-weight: light;
}
.usa-step-indicator__header{
    display: block;
}
@media only screen and (min-width: 880px) {
    .usa-step-indicator__segment{
        z-index: 0;
    }
    .usa-step-indicator__segment--complete::after{
        background-color: #849ACE;
    }
    .usa-step-indicator__segment--current::after{
        background-color: #005DAA
    }
    .usa-step-indicator__segment--incomplete::after{
        background-color: #919191;
    }
    .usa-step-indicator__header{
        display: none;
    }
}