.basic-page-header{
    max-width: fit-content;
}
.help-cards{
    color: black;
    padding-left: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;

    .usa-intro{
        color: white;
    }
    .hide{
        display: none;
    }
}
@media (min-width: 64em){
    .desktop\:grid-col-6{
        display: inline-block;
        width: fit-content;
    }

}