.basic-page-hero{
    @media (max-width: 63em){
        .help-cards{
            display: block;
        }
        .cta{
            width: fit-content;
        }
        .usa-intro{
            width: fit-content;
        }
    }
    .grid-container{
        padding-bottom: 1rem;
    }
}
.basic-page-header{
    max-width: fit-content;
    padding: 0.5rem 2rem;
}
.help-cards{
    color: black;
    padding-left: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2.1fr 3fr;

    .usa-intro{
        color: white;
    }
    .hide{
        display: none;
    }
}
.solo-cta{
    .usa-card-group{
        margin-left: 3rem;
    }
}
@media (min-width: 64em){
    .desktop\:grid-col-6{
        display: inline-block;
        width: fit-content;
    }
}