.usa-header{
    background-color: #002552;
    ul, ol{
        max-width: fit-content;
    }
}
.home{
    color: white;
}
.usa-header span{
    color: white;
}
.usa-nav__primary button[aria-expanded=false] span:after{
    background: url(/assets/icons/expand_more_white.svg) no-repeat center/contain;
}
.usa-logo a{
    color: white;
}
.usa-header--extended .usa-logo{
    font-size: 1.5rem;
    max-width: 40%;
}
.usa-header--extended .usa-nav {
    border: none;
}
.usa-nav__secondary-links li{
    display: inline-block;
}
.usa-nav__secondary-links a{
    color: white;
    text-decoration: underline;
}
.usa-nav__secondary-links span{
    color: #E50E63;
}
.usa-header--extended .usa-nav__primary-item>.usa-current:after, 
.usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover:after{
    background-color: #E50E63;
}

.usa-nav__primary>.usa-nav__primary-item>a{
    padding: 0;
    padding-top: 0.7rem;
}
.check-out-icon{
    margin-right: 5px;
}
.check-out-span{
    position: absolute;
    top: 1rem;
}