.usa-header{
    background-color: #002552;
}
.home{
    color: white;
}
.usa-header span{
    color: white;
}
.usa-nav__primary button[aria-expanded=false] span:after{
    background: url(/assets/icons/expand_more_white.svg) no-repeat center/contain;
}
.usa-logo a{
    color: white;
}
.usa-header--extended .usa-logo{
    font-size: 1.5rem;
    max-width: 40%;
}