---
layout: default
title: ICF Nex+ Home
subtitle: Home
hero:
  image: /assets/icons/hero.png
  callout:
    alt: "Welcome"
    text: To CWIG Pattern Library
  button:
    href: /patterns/
    text: Get Started
  link:
    text: Link to more about that priority
    href: /link/
  content: This library allows us to use the USWDS customized for our clients.

cards:
  schema:
    - card-title: Styles
      body: Find out more about the styles used to reflect the brand.
      button: view styles
      link: "/styles"
    - card-title: Patterns
      body: Browse through our library of components for usage guidance and specifications.
      button: view patterns
      link: "/patterns"
    - card-title: Page Templates
      body: Browse through requirements for page templates.
      button: view specs
      link: "/templates"
    - card-title: Prototype
      body: The CWIG prototype is used primarly to show how the patterns come together to form templates.
      button: take me there
      link: "/prototype"
  columns: "tablet:grid-col-3"
  # class: blank-wrapper
---

{% assign hero = page.hero %}
{% include patterns/hero/hero.md %}



{% include patterns/card/card-jk.md  data=card %}

