.usa-breadcrumb__list-item:not(:last-child):after{
  background-color: #E50E63;
  -webkit-mask: url(/assets/icons/slash-cwig.svg) no-repeat center/contain;
}
.usa-breadcrumb__link:visited{
  color: #005ea2;
}
.current_page{
  font-weight: bold;
}

@media (max-width: 64em){
  .usa-breadcrumb__list-item:not(:first-child){
    display: none;
  }
  .usa-breadcrumb__list-item:not(:last-child):after{
    display: none;
  }
  .m-arrow::before{
    content: "\2190";
    color: #E50E63;
  }
  .white-arrow::before{
    content: "\2190";
    color: white;
  }
}
.usa-breadcrumb{
  margin-bottom: 70px;
}
