.search-feature{
    background-color: #002552;
    padding: 15px;
    color: white;

    h4{
        margin: 0;
    }
}
.search-feature span{
    color: #E50E63;
}
.search-feature a{
    color: white;
}
.usa-search span{
    color: white;
}