.search-feature{
    background-color: #002552;
    padding: 15px;
    color: white;
    h2{
        color: white;
    }
    h4{
        margin: 0;
        font-family: Montserrat;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    p{
        font-family: Lora, serif;
    }
    .usa-search__submit-icon{
        display: block;
    }
}
.search-feature-variation{
    background-image: url("/assets/icons/images/search-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    height:300px;
    position: relative;
    background-size: cover;

    .vertical-align{
        position: absolute;
        top: 30%;
        right: 50%;
    }

    .usa-input{
        width: 350px;
    }
    h2{
        color: white;
    }
}
.search-feature span{
    color: #E50E63;
}
.search-feature a{
    color: white;
}
.usa-search span{
    color: white;
}