.feature-wrapper{
    background-color: #EEF1F9;
    ul{
        padding: 1rem;
    }
    li{
        padding: 1rem;
    }
    .usa-card__heading{
        font-family: Montserrat;
    }
    .usa-card__body{
        font-family: Lora, serif;
    }
    .usa-card__body p{
        padding-left: 0;
    }
}