.colors,.cwig_colors{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}
.color,.cwig_colors{
    margin: 10px;
    div{
        width: 150px;
        height: 150px;
        border: 1px solid $inkcolor;
    }
}
//CWIG Colors
.navy{
    background-color: #002552;
    color: white;
}
.dark-gray{
    background-color: #6D6E71;
    color: white;
}
.light-gray{
    background-color: #D1D3D4;
    color: $inkcolor;
}
.yellow{
    background-color: #FFF453;
    color: $inkcolor;
}
.orange{
    background-color: #F37322;
}
.magenta{
    background-color: #E50E63;
}
.blue{
    background-color: #005DAA;
}
.light-blue{
    background-color: #00AFDB;
}
.lilac{
    background-color: #7E81BE;
}
.gray-cool-1{
    background-color: #FBFCFD;
}
.gray-cool-2{
    background-color: #F7F9FA;
}
.gray-cool-5{
    background-color: #EDEFF0;
}
.gray-cool-50{
    background-color: #71767A;
}
.gray-cool-80{
    background-color: #2D2E2F;
}
.error{
    background-color: #E21E1E;
}
.success{
    background-color: #40B66F;
}

//classes that can be applied to modify the color of the button (editable by the user in the UI)
.default-color{ 
    background-color: black;
    color: white;
}
.paper{
    background-color: $papercolor;
    color: $inkcolor;
}
.ink{
    background-color: $inkcolor;
    color: $inversecolor;
}
.inverse{
    background-color: $inversecolor;
    color: $inkcolor;
}
.primary{
    background-color: $primarycolor;
    color: $inversecolor;
}
.secondary{
    background-color: $secondarycolor;
    color: $inversecolor;
}
.accent{
    background-color: $accentcolor;
    color: $inkcolor;
}
.link{
    background-color: $linkcolor;
    color: $inversecolor;
}
.grays{
    background-color: $grays;
    color: $inversecolor;
}
