.colors,.cwig_colors{
    display: flex;
    flex-wrap: wrap;
}
.color,.cwig_colors{
    margin: 10px;
    div{
        width: 150px;
        height: 150px;
        border: 1px solid $inkcolor;
    }
}
//CWIG Colors
.navy{
    background-color: #002552;
    color: white;
}
.dark-gray{
    background-color: #6D6E71;
    color: white;
}

//classes that can be applied to modify the color of the button (editable by the user in the UI)
.default-color{ 
    background-color: black;
    color: white;
}
.paper{
    background-color: $papercolor;
    color: $inkcolor;
}
.ink{
    background-color: $inkcolor;
    color: $inversecolor;
}
.inverse{
    background-color: $inversecolor;
    color: $inkcolor;
}
.primary{
    background-color: $primarycolor;
    color: $inversecolor;
}
.secondary{
    background-color: $secondarycolor;
    color: $inversecolor;
}
.accent{
    background-color: $accentcolor;
    color: $inkcolor;
}
.link{
    background-color: $linkcolor;
    color: $inversecolor;
}
.grays{
    background-color: $grays;
    color: $inversecolor;
}
