.validation{
    .usa-label{
        font-family: Montserrat;
        font-weight: bold;
    }
    .usa-button{
        background-color: #002552 ;
    }
}
.validation{
    .usa-alert--info{
        border-left: solid 1px #005DAA;
        background-color: #EEF1F9;
    }
}
.usa-alert__body{
    font-family: Lora, serif;
}
.usa-alert__heading{
    font-family: Montserrat;
    font-weight: bold;
}
.usa-alert--validation{
    border-left: 5px solid #005DAA;
}