.social-share {
    font-size: 1rem;
    div{
        display: inline;
    }
    a {
        text-decoration: none;
    }
    margin: 0 0  2rem 0 ;
    padding: 0;
}
.social-share-inverse{
    .fa-brands, .fab{
        color: white;
    }
    .fak, .fa-kit{
        color: white;
    }
}

.usa-hero {
    .social-share a {
        color: #fff;
        &:hover {
            color: #00AFDB;
        }
    }
}
.fa-brands, .fab{
    color: #002552;
}
.fak, .fa-kit{
    color:#002552;
}