.usa-identifier{
    background-color: #002552;
}
.usa-identifier__required-links-list .usa-link{
    color: white;
}
.usa-identifier__required-link.usa-link:visited, .usa-identifier__required-link:visited{
    color: white;
}
.usa-identifier__identity-domain{
    color: white;
}
.usa-identifier__container{
    font-family: Montserrat;
}
.usa-identifier__identity-domain{
    font-family: Montserrat;
}
.usa-identifier__identity-disclaimer{
    font-family: Montserrat;
    max-width: 100%;
}
.usa-identifier__required-links-list{
    font-family: Montserrat;
}