.usa-sidenav .usa-current{
    color: #E50E63;
}
.usa-sidenav .usa-current:after{
    background-color: #E50E63;
}
.usa-sidenav{
    font-family: Montserrat;
}
.usa-sidenav__sublist{
    font-family: Montserrat;
}
.usa-current{
    background-image: url(../img/usa-icons/remove.svg),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 1.25rem center;
}
.parent-link{
    background-image: url(../img/usa-icons/add.svg),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 1.25rem center;
}
.parent-link:hover{
    background-image: url(../img/usa-icons/add.svg),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 1.25rem center;
}