@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Rampart+One&family=Sacramento&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700');

$title-font: {{ site.data.type.title }};
$body-font: {{ site.data.type.body }};
// $custom-font: {{ site.data.type.custom }};

body {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 400;
    color: $inkcolor;
    line-height: 1.25rem;
}
.body-font{
    font-family: $body-font;
}
.title-font{
    font-family: $title-font;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
h1 { 
    font-family: $title-font;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

.h1-small{
    font-family: $title-font;
    font-size: 1.875rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

h2{
    font-family: $title-font;
    font-size: 1.75rem;
    line-height: 3rem;
    font-weight: 700;
    color: #002552;
    @media (min-width: $grid-md-max){
        font-size: 1.75rem;
        line-height: 3.75rem;
    }
    margin: 0 0 0.5rem 0;
}

.h2-small{
    font-family: $title-font;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

h3 {
    font-family: $title-font;
    font-size: 1.375rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #000000;
    @media (min-width: $grid-md-max){
        font-size: 1.25rem;
        line-height: 3rem;
    }
    margin: 0 0 0.5rem 0;
}

.h3-small{
    font-family: $title-font;
    font-size: 1.188rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

h4 {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

h5{
    font-family: $body-font;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.intro-font{
    color: rgba(0,0,0,1);
    font-family: $body-font;
    font-size: 1.31rem;
    font-weight: 400;
    line-height: 1.938rem;
}

.body-text{
    color: rgba(0,0,0,1);
    font-family: $body-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.813rem;
}

.placeholder-font{
    color: rgba(117,117,117,1);
    font-family: $title-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.563rem;
}

.h2-small_link{
    color: rgba(0,93,170,1);
    font-family: $title-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    text-decoration: underline;
}

.h3-link{
    color: rgba(0,93,170,1);
    font-family: $title-font;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.563rem;
    text-decoration: underline;
}

.h3-small_link{
    color: rgba(0,93,170,1);
    font-family: $title-font;
    font-size: 1.188rem;
    font-weight: 700;
    line-height: 1.438rem;
    text-decoration: underline;
}

.link-font{
    color: rgba(0,93,170,1);
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.563rem;
    text-decoration: underline;
}

.link-bold{
    color: rgba(0,93,170,1);
    font-family: $body-font;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.813rem;
    text-decoration: underline;
}

.h3-link_hover{
    color: rgba(84,39,143,1);
    font-family: $title-font;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
}

.link-hover{
    color: rgba(84,39,143,1);
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.button-large{
    color: rgba(0,37,82,1);
    font-family: $title-font;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.button-large_outline{
    color: rgba(0,93,170,1);
    font-family: $title-font;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.button-large_disabled{
    color: rgba(169,174,177,1);
    font-family: $title-font;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.button-outline{
    color: rgba(0,93,170,1);
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.button-hover{
    color: rgba(26,68,128,1);
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.button-active{
    color: rgba(0,37,82,1);
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.button-disabled{
    color: rgba(169,174,177,1);
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.kicker{
    color: rgba(229,14,99,1);
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
}

.kicker-secondary{
    color: rgba(229,14,99,1);
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.banner-font{
    color: rgba(28,29,31,1);
    font-family: $title-font;
    font-size: 12px;
    font-weight: 400;
}

.banner-link{
    color: rgba(28,29,31,1);
    font-family: $title-font;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}

.tag-font{
    color: rgba(229,14,99,1);
    font-family: $title-font;
    font-size: 11px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
}

.tag-secondary{
    color: rgba(0,37,82,1);
    font-family: $title-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.usa-intro {
    font-family: $body-font;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 2rem; 
    max-width: 65ex;
}
.intro {
    font-family: $body-font;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

p {
    max-width: 80ex;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

a {
    color: $linkcolor;
    text-decoration: underline;
    &:hover {
        color: #C7CFE9;
        text-decoration: none;
    }
}

.giant-text {
	// this is deskstop size... needs mobile (used on typography page)
    font-size: 9.32rem;
	line-height: 9.8rem;
}
.small-text {
    font-family: $body-font;
    font-size: .75rem;
}

.italic {
    font-style: italic;
}

ul, ol {
    font-family: $body-font;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 72ex;
    ul, ol {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}