.usa-modal__heading{
    font-family: Montserrat;
}
.modal-prose{
    font-family: Lora;
}
.usa-modal__footer{
    .back-button{
        color: #00afdb;
        background-color: white;
        border: 3px solid #00afdb
    }
}