.usa-pagination__button{
    color: #6D6E71;
    border: none;
    text-decoration: none;
    border-radius: 0;
    font-family: 'Montserrat';
    font-weight: bold;
}
.usa-pagination__button:hover{
    background-color: #002552;
    color: white;
}
.current a{
    background-color: #002552;
    color: #fff;
    border: none;
    text-decoration: none;
}
.usa-pagination__link-text{
    font-family: Montserrat;
    font-weight: bold;
}
.usa-pagination{
    .usa-icon{
        stroke: #005ea2;
    }
}