.usa-pagination__button{
    color: #6D6E71;
    border: none;
    text-decoration: none;
}
.usa-pagination__button:hover{
    background-color: #002552;
    color: white;
}
.current a{
    background-color: #002552;
    color: #fff;
    border: none;
    text-decoration: none;
}