
.usa-card__container__flag-default{
    background-color: white;
    border: 0;
    .usa-card__body p {
        padding: 0;
    }
    .card-tag {
        font-size: .75rem;
        font-weight: 700;
        color: #005DAA;
        text-transform: uppercase;
    }
}
.usa-card-group img{
    height: 100%;
}
.usa-card__container__flag-default:hover{
    cursor: pointer;
}
.usa-card__container__flag-default button{
    background-color: white;
    color: #005DAA;
    border: 1px solid #005DAA;
}