.usa-card__container__alert{
    background-color: white;
    margin: auto;
}
.usa-card__container__alert:hover{
    cursor: pointer;
}
.usa-card__container__alert button{
    background-color: white;
    color: #005DAA;
    border: 1px solid #005DAA;
}