
.usa-card__container__flag-default{
    background-color: white;
    border: 0;
    min-height: 200px;
    .usa-card__body p {
        padding: 0;
    }
    .card-tag {
        font-size: .75rem;
        font-weight: 700;
        color: #005DAA;
        text-transform: uppercase;
    }
    img{
        height: 100%;
    }
    .card-content p{
        line-height: 25px;
    }
}
.usa-card__container__flag-default:hover{
    cursor: pointer;
}
.usa-card__container__flag-default button{
    background-color: white;
    color: #005DAA;
    border: 1px solid #005DAA;
}
.usa-card__container{
    .usa-card__body{
        font-family: Lora;
    }
    border: 1px solid #D1D3D4;
}
.usa-card--flag{
    .usa-card__media{
        width: 280px;
    }
    .usa-card__body{
        margin-left: 18rem;
    }
    .usa-card__footer{
        margin-left: 18rem;
    }
    .usa-card__header{
        margin-left: 18rem;
    }
    .usa-card__img{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}