.usa-card-text__container{
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.usa-card-text__heading{
    color: #005DAA;
    text-decoration: underline;
    font-size: 1.375rem;
}