.card-default{
    background-color: #fff;
    color: #002552;
    border-radius: 0;
    border: 0;
    padding: 2%;
    border: 1px solid #D1D3D4;
    .usa-card-group {
        max-width: 100%;
        padding: 0;
        margin: 0;
        img {
            height: auto;
        }
    }
    .usa-card__heading{
        font-family: Montserrat;
    }
    .usa-card__body{
        font-family: Lora, serif;
    }
    .usa-card__body {
        padding: 2%;
    }
    .usa-button{
        border-radius: 3px;
        border: 1px solid rgba(0,37,82, 1);
        background-color: transparent;
        color:#002552;
        margin: auto;

    }
    a{
        color: #002552;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
     
    &:hover {
        background-color: #002552;
        color: white;
        cursor: pointer;
    }
}




.card-default:hover{
    .usa-button{
        background-color: #002552;
        color: white;
        border: 1px solid white;
    }
}