.usa-card__container__flag-default{
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
}
.usa-card__container__flag-default:hover{
    cursor: pointer;
}
.usa-card__container__flag-default button{
    background-color: white;
    color: #005DAA;
    border: 1px solid #005DAA;
}