.usa-card-group {
    max-width: 100%;
    padding: 0;
    margin: 0;
    img{
        height: auto;
    }
}
// .usa-card__heading {
//     color: green;
//     font-family: $custom-font;
//   }
//custom starts here
.content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.card-link a{
    color: #005DAA;
    padding-left: 0;
    text-decoration: underline;
}
.body h4{
    margin-bottom: 5px;
    font-weight: bold;
}
.body small{
    color: #005DAA;
    font-weight: bold;
}
 