.cta-help-container{
    text-align: center;
    .usa-card__img{
        background-color: white;
        padding-top: 5%;
    }
    .white-icon{
        display: none;
    }
    .usa-card__img img{
        height: 40px;
        width: auto;
    }
    .blue-icon{
        margin: auto;
    }
    a{
        padding-left: 0;
    }
    h4{
        color: #002552;
        font-weight: bold;
    }
    border: 1px solid #D1D3D4;
}
.cta-help-container:hover{
    background-color: #002552;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    .usa-card__img{
        background-color: #002552;
    }
    .blue-icon{
        display: none;
    }
    .white-icon{
        display: block;
        margin: auto;
    }
    a{
    color: white;
    padding-left: 0%;
    }
    h4{
        color: white;
    }
}