.usa-card__container__campaign{
    padding-top: 50px;
    padding: 30px;
    margin: 20px;
    min-height: 100%;
    background: url(https://picsum.photos/id/1043/800/600);
    background-size: cover;
    color: white;
}
.usa-card__container__campaign-inverse{
    box-shadow: inset 0 0 0 2000px rgba(199, 207, 233, 0.85);
    .card-content{
        color: #002552;
        font-family: 'Lora';
    }
    h2{
        color: #002552;
        font-family: "Montserrat";
    }
}
.usa-card__container__campaign-navy{
    box-shadow: inset 0 0 0 2000px rgba(0, 37, 82, 0.85);
    .card-content{
        color: white;
        font-family: 'Lora';
    }
    h2{
        color: white;
        font-family: "Montserrat";
    }
}
.usa-card__container__campaign h2{
    font-weight: bold;
}
.usa-card__container__campaign:hover h2{
    color:#002552;
}
.usa-card__container__campaign button{
    background-color: white;
    color: #002552;
}
.usa-card__container__campaign:hover button{
    background-color: transparent;
    color:#002552;
    border: 1px solid #002552;
}
.usa-card__container__campaign button:hover{
    background-color: #002552;
    color: white;
    cursor: pointer;
}

//title
.usa-card__container__campaign-title{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100%;
    background: url(https://picsum.photos/id/1043/800/600);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 37, 82, 0.85);
    color: white;
}
.usa-card__container__campaign-title:hover{
    box-shadow: inset 0 0 0 2000px rgba(158, 180, 241, 0.85);
    cursor: pointer;
    color: #002552;
}
//prototype
.home-overlay{
    .overlay a{
        color:#002552;
        background-color: white;
    }
    .overlay{
        text-align: center;
    }
    .usa-card__header{
        text-align: left;
        padding-left: 2rem;
    }
    .usa-card__body{
        text-align: left;
        padding-left: 2rem;
        margin-bottom: 0.5rem;
    }
    .overlay:hover a{
        background-color: transparent;
        border: #002552 1px solid;
    }
}

//new pattern
.usa-card__container__campaign-one{
    overflow: hidden;
    height: 200px;
}
.usa-card__container__campaign-two{
    overflow: hidden;
    height: 200px;
}
.usa-card__container__campaign-three{
    overflow: hidden;
    height: 200px;
}
.usa-card__container__campaign-one .usa-card__header{
    padding-top: 50px;
    padding: 30px;
    height: 35vh;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background: url(/assets/icons/images/campaign1-overlay.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 37, 82, 0.7);
    h2{
        color: white;
    }
    &:hover {
        box-shadow: none;
    }
    .usa-card__heading{
        margin-top: 3rem;
    }
}
.usa-card__container__campaign-two .usa-card__header{
    padding-top: 50px;
    padding: 30px;
    height: 35vh;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background: url(/assets/icons/images/campaign2-overlay.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 37, 82, 0.7);
    &:hover {
        box-shadow: none;
    }
    h2{
        color: white;
    }
    .usa-card__heading{
        margin-top: 3rem;
    }
}
.usa-card__container__campaign-three .usa-card__header{
    padding-top: 50px;
    padding: 30px;
    height: 35vh;
    margin-bottom: 1rem;
    background: url(/assets/icons/images/campaign3-overlay.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 37, 82, 0.7);
    h2{
        color: white;
    }
    &:hover {
        box-shadow: none;
    }
    .usa-card__heading{
        margin-top: 3rem;
    }
}