.usa-card__container__alert{
    border-top: 4px solid #E50E63;
    box-shadow: 1px 1px 1px 1px;
    margin: auto;
}
.usa-card__container__alert:hover{
    cursor: pointer;
}
.usa-card__container__alert button{
    background-color: white;
    color: #005DAA;
    border: 1px solid #005DAA;
}