.usa-card__container__media{
    background-color: white;
    margin: 1%;
}
.usa-card__container__media:hover{
    cursor: pointer;
}
.usa-card__container__media{
    .usa-card__body p{
        padding-left: 0;
    }
    .usa-card__heading{
        font-family: 'Montserrat';
    }
}
.usa-card__img{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
}

.campaign-news {
    .card-tripplet img{
        height: 50%;
    }  
}