.usa-card__container__media{
    background-color: white;
}
.usa-card__container__media:hover{
    cursor: pointer;
    border: 1px solid white;
}
.usa-card__container__media{
    .usa-card__body p{
        padding-left: 0;
    }
}