.format{
    background-color: #005DAA;
    color: white;
    padding: 0 15px;
    margin: 0;
}
.collection__sponsor{
    color: #6D6E71;
    font-weight: bold;
}
.event-title{
    color:#005DAA
}
.date_time{
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}