.tablet\:grid-col-6 {
    @media (min-width: 40em){
        width: 100%;
    }
}
.format-icon{
    position: relative;
    top: 6px;
    right: 2px;
    width: auto;
    height: 22px;
}
.format{
    background-color: #005DAA;
    width: 30%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.source{
    color: #6D6E71;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.collection-heading{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}