---
layout: default
categories: [prototype]
type: [sub-nav-item, prototype]
---
<link href="/assets/css/proto/basic.scss" rel="stylesheet">

<div>
  <div class="basic-header">
    {%if page.header %}
      <div>
        {%include patterns/header/basic-page-header.md%}
      </div>
    {%else%}
      <div class="grid-container">
        <h1>
          {{page.title}}
          {% include patterns/social-share/social-share.md %}
        </h1>
        <p class="usa-intro">
          {{page.summary}}
        </p>
      </div>
    {%endif%}
    {%if page.features %}
      {% include prototype/basic-features.md %}
    {% endif %}
    {% if page.subscription_banner %}
    <div>
      {% include patterns/subscription/subscription-banner.md %}
    </div>
  {% endif %}
  <div class="grid-container">
    {{page.body | markdownify}}
  </div>
  {%if page.template contains "tabs"%}
    <div>
      {%include prototype/basic-tabs.md%}
    </div>
  {%endif%}
  {%if page.template contains "accordion" %}
    <div>
      {%include patterns/accordion/accordion-basic.md%}
    </div>
  {%endif%}
   

    {%if page.template contains "cards"%}
      <div>
        {{site.data.contentful.spaces.example.basic[1].body | markdownify }}
        <h3>{{site.data.contentful.spaces.example.basic[1].list_groups[0].section_heading}}</h3>
        <p>{{site.data.contentful.spaces.example.basic[1].list_groups[0].section_intro}}</p>
        {%include patterns/card/card-flag-subscription-basic.md%}
      </div>
      <div>
        <h3>{{site.data.contentful.spaces.example.basic[1].list_groups[1].section_heading}}</h3>
        <p>{{site.data.contentful.spaces.example.basic[1].list_groups[1].section_intro}}</p>
        {%include patterns/card/card-flag-subscription-basic-2.md%}
      </div>
      <div>
        <h3>{{site.data.contentful.spaces.example.basic[1].list_groups[2].section_heading}}</h3>
        <p>{{site.data.contentful.spaces.example.basic[1].list_groups[2].section_intro}}</p>
        {%include patterns/card/card-flag-subscription-basic-3.md%}
      </div>
    {%endif%}
    {% if page.cta_bottom %}
      <div class="grid-container" style="padding-top: 2rem;">
        {% include patterns/card/card-cta-help-full.md %}
      </div>
    {%endif%}
    {% if page.subscriptions_banner_bottom %}
    <div>
      {% include patterns/subscription/subscription-banner-bottom.md %}
    </div>
  {% endif %}
  </div>
</div>