---
layout: default
categories: [prototype]
type: [sub-nav-item, prototype]
---
<link href="/assets/css/proto/basic.scss" rel="stylesheet">

<div>
  <div class="basic-header">
    {%if page.header%}
      <div>
        {%include patterns/header/basic-page-header.md%}
      </div>
    {%else%}
      <div>
        <h1>
          {{page.title}}
        </h1>
        <p>
          {{page.summary}}
        </p>
      </div>
    {%endif%}
    {%if page.features %}
      <div class="features">
        {% include patterns/card/card-alert-basic.md %}
      </div>
    {% endif %}
    <div>
    </div>
    {%if page.template contains "tabs"%}
      <div>
        {%include patterns/tabs/tabs-basic.md%}
      </div>
    {%endif%}
    {%if page.template contains "accordion" %}
      <div>
        {%include patterns/accordion/accordion-basic.md%}
      </div>
    {%endif%}
    {%if page.template contains "body" %}
      <div>
        {{site.data.contentful.spaces.example.basic[4].body | markdownify}}
      </div>
    {%endif%}
    {%if page.template contains "cards"%}
      <div>
        {{site.data.contentful.spaces.example.basic[1].body | markdownify }}
        <h3>{{site.data.contentful.spaces.example.basic[1].list_groups[0].section_heading}}</h3>
        <p>{{site.data.contentful.spaces.example.basic[1].list_groups[0].section_intro}}</p>
        {%include patterns/card/card-flag-subscription-basic.md%}
      </div>
    {%endif%}
    {% if page.ctaBottom %}
      <div>
        {% include patterns/card/card-cta-help-full.md %}
      </div>
    {%endif%}
  </div>
</div>