---
layout: default
categories: [prototype]
type: [sub-nav-item, prototype]
---
<link href="/assets/css/proto/basic.scss" rel="stylesheet"><div class="">  
  <div class="text">    
    {% if page.header %}
    <div class="page-header header-full">      
      {%include patterns/header/basic-page-header.md%}
    </div>    
    {% else %}
    <div class="page-header grid-container">    
      {% endif %}
      <h1>{{page.title}}</h1>      
      <p class="usa-intro">        
        {{ page.summary }}
      </p>    
    </div>    
    <div class="grid-container">      
      {% if page.body %}  
        {{page.body}} 
      {% endif %}
      {% if page.template contains "accordion" %}
      {% include patterns/accordion/accordion-jk-push.md content=page.list%}
      {% endif %}
      {% if page.template contains "tabs" %}
      {% include patterns/tabs/tabs-jk.md content=page.list%}
      {% endif %}
    </div>  
  </div>
</div>