---
layout: default
---
<link href="/assets/css/proto/basic.scss" rel="stylesheet">

<div class="">
  <div class="text">
    {% if page.title == "About" %}
      <div class="page-header header-full">
        {%include patterns/header/basic-page-header.md%}
      </div>
      <div class="tabs-section">
        {%include patterns/tabs/tabs.md%}
      </div>
    {% else %}
    <div class="page-header">
    {% endif %}
      <h1>{{page.title}}</h1>
      <p class="usa-intro">
        {{ page.summary }}
      </p>
      <ul>
        {%for item in site.data.contentful.spaces.basic-page.basic%}
          <li>
            <p>{{item.title}}</p>
            <p>{{item.summary}}</p>
          </li>
        {%endfor%}
      </ul>
    </div>
      {{ content }}
      {% if page.template == "accordion" %}
      {% include patterns/accordion/accordion-jk-push.md content=page.lists%}
      {% endif %}
      {% if page.template == "tabs" %}
      {% include patterns/tabs/tabs-jk.md content=page.lists%}
      {% endif %}
  </div>
</div>