---
layout: default
categories: [prototype]
type: [sub-nav-item, prototype]
---
<link href="/assets/css/proto/resource-detail.scss" rel="stylesheet">
{%include patterns/breadcrumb/breadcrumb-basic.md%}
<div class="grid-container ">
  <div class="resource-page-header">
    <h1>{{ page.title}} </h1>
    <div class="social-bar">
      <span class="bar">{% include patterns/social-share/social-bar.md %}</span>
    </div>
    <div class="meta-data">
      <p><span>Date: {{ page.date | date: "%B %-d, %Y" }}
        {% if page.resource.length %}
        | Length: {{page.resource.length}}
        {% endif %}
      </span></p>
    </div>
    {% if page.opening_body %}
      <div>
          <p>{{page.opening_body | markdownify}}</p>
      </div>
    {%endif%}
  </div>

  {% if page.resource_type contains "video" %}
  {% include prototype/resource-video.md %}
  {% endif %}

  {% if page.resource_type contains "podcast" %}
  {% include prototype/resource-podcast.md %}
  {% endif %}

  {% if page.resource_type contains "publication" %}
  {% include prototype/resource-pdf.md %}
  {% endif %}




  <div class="body-content">
    <p>{{page.body | markdownify}}</p>
  </div>


  <div class="series-list">
    <h2>Also in this series</h2>
    <ul>
      <li><a href="">example series</a></li>
      <li><a href="">example series</a></li>
      <li><a href="">example series</a></li>
    </ul>
  </div>
  
</div>

<div class="resource-list gray-wrapper">
  <div class="grid-container ">
    <h2>Related Resources</h2>
  
    <ul class="usa-card-group">
      <li class="usa-card tablet:grid-col-4">
        <div class="usa-card__container event-card card-default">
        <span class="event_format"><i class="fa-light fa-video"></i>Media Type</span>
          <div class="usa-card__header">
            <h3 class="usa-card__heading">Penalties for Failure to Report and False Reporting of Child Abuse
            </h3>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-4">
        <div class="usa-card__container event-card card-default">
        <span class="event_format"><i class="fa-light fa-podcast"></i>Podcast</span>
          <div class="usa-card__header">
            <h3 class="usa-card__heading">The Risk and Prevention of Maltreatment of Children with Disabilities
            </h3>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-4">
        <div class="usa-card__container event-card card-default">
        <span class="event_format"><i class="fa-light fa-file-pdf"></i>Publication</span>
          <div class="usa-card__header">
            <h3 class="usa-card__heading">What Is Child Welfare? A Guide for Disaster Preparedness and Response Professionals
            </h3>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>