---
layout: default
categories: [prototype]
type: [sub-nav-item, prototype]
search_type: resources

lorem:
  - title: Topic Title
    summary: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin libero et scelerisque semper. Morbi erat orci.

---
<link href="/assets/css/proto/subtopics.scss" rel="stylesheet">

{% assign hero=page %}

{% include prototype/hero-heading-only.md %}

<div class="grid-container">{% include patterns/social-share/social-share.md %}</div>

<div class="grid-container">
  <div>
    {{ page.body | markdownify }}
  </div>
</div>

{% if page.subtopic == false %}
{% assign topics = site.data.contentful.spaces.example.subTopics | where:'tag', page.tag %}
{% assign subtopics = topics | where:'subtopic', true %}

<div class="grid-container">
  <h2 style="margin-top: 70px; margin-bottom: 50px;">Subtopics</h2>
      <ul class="usa-card-group">
      {% for card in subtopics  %}
      
        <li class="tablet:grid-col-4 usa-card">
          <div class="usa-card__container card-default">
            <a href="/prototype/{{ card.slug }}" style="padding-top:0;">
            <header class="usa-card__header">
              <h3 class="usa-card__heading">{{ card.title }}</h3>
            </header>
            <div class="usa-card__body">
              <p>{{ card.summary | truncate: 140 }}</p>
            </div>
          </a>
          </div>
        </li>
      {%endfor%}
      {% for card in page.lorem %}
      {% for i in (1..5) %}
        {% include prototype/cards-contentful.md content=page.lorem %}
      {% endfor %}
      {% endfor %}
    </ul>
</div> 
{% endif %}

{% if page.featured %}
  <div class="blue-wrapper">
    <div class="grid-container">
      <h3 style="margin-bottom: 0;">Featured:</h3>
      <ul class="usa-card-group">
        {% include patterns/card/card-text-jk.md content=page.featured %}
    </ul>
    </div>
  </div>
  {% endif %}

  {% include prototype/search-results.md %}


