---
layout: default
categories: [prototype]
type: [sub-nav-item, prototype]

lorem:
  - title: Topic Title
    summary: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin libero et scelerisque semper. Morbi erat orci.

---
<link href="/assets/css/proto/topics.scss" rel="stylesheet">

<div class="design-preview">
  <section class="usa-hero full-hero-image" aria-label="Introduction" ;="">
  <div class="grid-container">
  </div>
  </section>
</div>

<div class="grid-container">
  <h1>{{ page.title }}</h1>
  <div>
    {{ page.body | markdownify }}
  </div>
</div>
  {% if page.features %}
  <div class="blue-wrapper">
    <div class="grid-container">
      <ul class="usa-card-group">
        {% include prototype/cards-contentful.md content=page.features %}
    </ul>
    </div>
  </div>
  {% endif %}



<div class="grid-container">
  <h2>Topics</h2>
      <ul class="usa-card-group">
      {% for card in page.lorem %}
      {% for i in (1..20) %}
        {% include prototype/cards-contentful.md content=page.lorem %}
      {% endfor %}
      {% endfor %}
    </ul>
</div> 


