---
layout: default
categories: [prototype]
type: [sub-nav-item, prototype]

lorem:
  - title: Topic Title
    summary: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin libero et scelerisque semper. Morbi erat orci.

---
<link href="/assets/css/proto/topics.scss" rel="stylesheet">
{% assign hero = page.hero_image %}
{% include patterns/hero/hero-full-width-jk.md %}

<div class="grid-container">{% include patterns/social-share/social-share.md %}</div>
<div class="grid-container">
  <h1>{{ page.title }}</h1>
  <div>
    {{ page.body | markdownify }}
  </div>
</div>
  {% if page.features %}
  <div class="blue-wrapper">
    <div class="grid-container">
      <ul class="usa-card-group">
        {% include prototype/cards-contentful.md content=page.features %}
    </ul>
    </div>
  </div>
  {% endif %}

  {% assign topics = site.data.contentful.spaces.example.subTopics | where:'subtopic', false %}

<div class="grid-container">
  <h2>Topics</h2>
      <ul class="usa-card-group">
      {% for card in topics  %}
        <li class="tablet:grid-col-4 usa-card">
          <div class="usa-card__container card-default">
            <header class="usa-card__header">
              <h3 class="usa-card__heading">{{ card.title }}</h3>
            </header>
            <div class="usa-card__body">
              <p>{{ card.summary | truncate: 140 }}</p>
            </div>
          </div>
        </li>
      {%endfor%}
      {% for card in page.lorem %}
      {% for i in (1..15) %}
        {% include prototype/cards-contentful.md content=page.lorem %}
      {% endfor %}
      {% endfor %}
    </ul>
</div> 


