.usa-summary-box__heading{
    color: #002552;
}
.usa-summary-box{
    background-color: #C7CFE9;
    border: none;
}
a{
    color: #005DAA;
}
.usa-summary-box--gray{
    background-color: #EDEFF0;
    border: none;
}