.usa-summary-box__heading{
    color: #002552;
    font-family: Montserrat;
    font-weight: bold;
}
.usa-summary-box{
    background-color: #C7CFE9;
    border: none;
}
.usa-summary-box__text{
    font-family: Lora, serif;
    .usa-list{
        padding-left: 0;
    }
}
a{
    color: #005DAA;
}
.usa-summary-box--gray{
    background-color: #EDEFF0;
    border: none;
}
.usa-summary-box__link:visited{
    color: #005DAA;
}
.usa-summary-box a{
    padding-left: 0%;
}
.submissions-box{
    a:hover{
        color:#002552;
    }
}
//Quicklinks
.quicklinks{
    background-color: #F7F9FA;
    border: none;
    max-width: 40rem;
    h3{
        padding-bottom: 0;
    }
    a{
        border-top: 1px solid #D1D3D4;
        padding: 0.5rem;
        display: block;
    }
}