.select{
    .usa-label{
        font-family: Montserrat;
    }
}
.usa-select{
    font-family: Montserrat;
    font-weight: 300;
    option{
        font-family: Montserrat;
    }
}
.usa-select{

    option:hover{
        background-color: #002552;
        color: white;
    }
}
.usa-label{
    font-family: Montserrat;
    font-weight: 700;
}