.campaign-hero__white{
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    .hero-landing-button{
        border: 1px solid #002552;
        color: #002552;
    }
    .hero-image img {

        padding-bottom: 1rem;
        @media only screen and (min-width: 880px) {
        z-index: 2;
        position: absolute;
        top: 10px;
        left: 5%;
        width: 55%;
        height: 90%;
        object-fit: cover;
        object-position: 0% 100%;
        padding-bottom: 0;
        }
    }
    .usa-hero__callout{
        background-color: white;
    }
    .usa-hero__heading--alt{
        color: black;
    }
    .hero-landing-button{
        margin-top: 1rem;
    }
}