.hero-btns{
    margin-top: 1rem;
    a{
        display: block;
    }
    .share-page{
        margin-top: 1rem;
        color: white;
        .fa-solid{
            margin-left: 0.5rem;
        }
    }
}
