.hero-topics{
    height: 450px;
    margin-bottom: 5rem;
    .usa-hero__heading{
        margin-top: 50%;
    }
    .hero-image img{
        height: auto;
        top: 50;
    }
    @media (max-width: 63em){
        height: auto;
        border-left: none;
        border-right: none;
        border-bottom: none;
        .grid-container{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
        .usa-hero__callout{
            padding: 0;
        }
        .usa-hero__heading{
            margin-top: 0;
        }
        img{
            width: 100%;
            padding-bottom: 0;
        }
    }
}
.usa-hero .hero-image img{
    @media (max-width: 63em){
        padding-bottom: 0;
    }
}