.hero-landing{
    .usa-hero__callout{
        max-width: 30rem;
    }
    .hero-image img{
        top: 60px;
        width: 50%;
        height: 100%;
        right: 0%;
    }
    .usa-button{
        width: 50%;
    }
}
.hero-btns{
    margin-top: 1rem;
    a{
        display: block;
    }
    .share-page{
        margin-top: 1rem;
        color: white;
        .fa-solid{
            margin-left: 0.5rem;
        }
    }
}
