.hero-campaign-image img {
    padding-bottom: 1rem;
    @media only screen and (min-width: 880px) {
    z-index: 2;
    position: absolute;
    top: 70px;
    left: 2%;
    width: 45%;
    height: 90%;
    object-fit: cover;
    object-position: 0% 100%;
    padding-bottom: 0;
    box-shadow: 4px 4px 2px #dfe1e2;
    }
}
.hero-campaign-heading{
    position: absolute;
    right: 2%;
    width: 45%;
}