.full-hero-image{
    height: 50vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://via.placeholder.com/150");
    border: none;
}