.full-hero-image{
    height: 50vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("/assets/icons/images/full-image-hero.jpg");
    background-repeat: none;
    border: none;
}