.campaign-hero__gray{
    background-color: #EDEFF0;
    border: none;
    color: black;
    .hero-landing-button{
        background-color: white;
        border: 1px solid #002552;
        color: #002552;
        margin-top: 1rem;
    }
    .usa-hero__callout{
        background-color: #EDEFF0;
    }
    .usa-hero__heading--alt{
        color: black;
    }
}