.usa-hero {
    .usa-hero__callout {
    background-color: #002552;
    }
    background-image: none;
    background-position: right 30px center;
    background-size: 50%;
    height: auto;
    border: 2px solid;
    background-repeat: no-repeat;
    background-color: #002552;
    width: 100%;
    border: 5px solid #002552;
    border-bottom: 5px solid #E50E63;
    margin-bottom: 20px;
    font-family: Lora, serif;

    .hero-image img {

        padding-bottom: 1rem;
        @media only screen and (min-width: 880px) {
        z-index: 2;
        position: absolute;
        top: 70px;
        right: 5%;
        width: 55%;
        height: 90%;
        object-fit: cover;
        object-position: 0% 100%;
        padding-bottom: 0;
        }
    }
    .usa-hero__heading{
        font-family: Montserrat;
        font-weight: bold;
        font-size: font-size: 2.5rem;
    }
    .usa-button{
        background-color: white;
        color:#002552;
    }
}