.download-button__wrapper{
    display: inline-block;
    position: relative;
    background-color: #002552;
    color: white;
}
.download-button{
    display: inline-block;
    white-space: nowrap;
    padding: 5px 25px 5px 20px;
    cursor: pointer;
}