.external-link-button__wrapper{
    display: inline-block;
    position: relative;
    background-color: #002552;
    color: white;
}
.external-link-button__wrapper:hover{
    background-color: #005DAA;
}
i{
    display: inline;
    padding-right: 5px;
}