.quick-exit{
    display: inline-block;
    color: white;
    cursor: pointer;
}
.quick-exit-button{
    display: inline-block;
    background-color: #005DAA;
    white-space: nowrap;
    padding: 5px 40px 5px 20px;
    cursor: pointer;
}
.quick-exit-desc{
    display: inline;
    background-color: #F7F9FA;
    color: black;
}