.quick-exit-wrapper{
    position: fixed;
    width: 100%;
}
.quick-exit{
    display: grid;
    color: white;
    cursor: pointer;
    grid-template-columns: auto auto;
    position: relative;
}
.quick-exit-button{
    background-color: #005DAA;
    white-space: nowrap;
    cursor: pointer;
    margin: auto;
    padding: 25px;
    position: absolute;
}
.quick-exit-desc{
    background-color: #F7F9FA;
    color: black;
    padding-top: 0.5rem;
    padding-left: 10px;
    padding-bottom: 0.9rem;
    position: absolute;
    left: 9.5rem;
    p{
        margin-bottom: 0;
    }
}