<div class="usa-accordion accordion">
    {% for item in page.list %}
        <h4 class="usa-accordion__heading">
            <button            
            class="usa-accordion__button"
            aria-expanded="false"
            aria-controls="a{{forloop.index}}">
            {{item.title}}
            </button>
        </h4>
        <div class="accordion-content">
            <div class="sub-accordion">
                <div class="sub-accordion-label">
                    <h3>Button Label</h3>
                </div>
                <div class="sub-accordion-content">
                    <form class="usa-form select">
                        <label class="usa-label" for="options">Dropdown label</label>
                        <select class="usa-select" name="options" id="options">
                        <option value>- Select -</option>
                        <option value="value1">Option A</option>
                        <option value="value2">Option B</option>
                        <option value="value3">Option C</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    {%endfor%}
</div>