.usa-banner__header-text{
    font-family: Lora, serif;
}
.usa-banner__button-text{
    font-family: Lora, serif;
}
.usa-banner{
    .usa-accordion .usa-accordion__button[aria-expanded=false]{
        background-image: none;
    }
}