.usa-date-picker__calendar{
    z-index: 1;
}
.usa-date-picker__calendar__table{
    font-family: Montserrat;
}
.usa-date-picker__calendar__month-selection, .usa-date-picker__calendar__year-selection{
    font-family: Montserrat;
}