.usa-process-list__item.previous__step::before{
    border-color:#005DAA;
    border-width: 4px;
    background-color:#005DAA;
    color: white;
}
.usa-process-list>.usa-process-list__item.previous__step{
    border-left-color: #005DAA;
}
.previous__step h4{
    color: #005DAA;
}
.current__step h4{
    color: #005DAA;
}
.usa-process-list__item.current__step::before{
    border-color:#005DAA;
    border-width: 4px;
    color:#005DAA;
}
.usa-process-list__item::before{
    color: #D1D3D4;
    border-color: #D1D3D4;
    border-width: 4px;
}
.usa-process-list__heading{
    color:#D1D3D4;
    font-family: Montserrat;
}
.usa-process-list>li{
    padding-bottom: 3.125rem;
}